html {
  background: #100a1c;
  background-attachment: fixed;
  color: #6cacc5;
}

body {
  color: #6cacc5;
  font: 18px "Arial";
  margin: 0;
  padding: 5em 0 2em;
  text-align: center;
}

h1 {
  font-weight: 300;
  margin: 0;
}

input[type = "button"]:hover {
  background: #16142b;
}

input[type = "button"] {
  border: 0;
  background: #11184e;
  color: #6cacc5;
  float: left;
  font: inherit;
  margin: 0.25em;
  width: 2em;
  height: 2em;
  
}

input[type = "button"]:focus {
  outline:none;
}

#equal {
  color: #FFF;
  background-color: #c97874;
  border-radius: 20px;
}


.calculator {
  font-size: 40px;
  margin: 0 auto;
  width: 10em;
}

.viewer,div input[type = "text"] {
  border: 0;
  background-color: #100a1c;
  color: #c97874;
  float: left;
  font: inherit;
  line-height: 3em;
  text-align: right;
  overflow: none;
  width: 7.5em;
  height: 3em;
}

